.container {
  border-radius: var(--mantine-radius-md);
  border: 1px solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-7)
  );
}

.header {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
  padding: var(--mantine-spacing-xs);
}
