APP_URL="http://localhost:3000"
API_HOST="https://laravel.dev.test"
NODE_ENV="development"
SESSION_SECRET="@8sn3rhuHU74AtJEy3ZZ87spUsugaJTSxJjrDkShL$3x&Pz!AEu!5Lp6YLpaTX9a"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NODE_TLS_REJECT_UNAUTHORIZED=0
