.cardCol {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: rem(2px) solid transparent;

  &.recommended {
    border-color: light-dark(
      var(--mantine-primary-color-6),
      var(--mantine-primary-color-6)
    );
  }
}

.featureList {
  flex: 1;
}

.cardFooter {
  margin-top: auto;
  padding-top: var(--mantine-spacing-xl);
}
